@tailwind base;
@tailwind components;
@tailwind utilities;

.row {
  @apply flex flex-wrap py-5 px-3;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #3bb45b;
  margin: auto;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}
.product:hover {
  transform: scale(105%);
  -webkit-transform: scale(105%);
  -moz-transform: scale(105%);
  -ms-transform: scale(105%);
  -o-transform: scale(105%);
}
.product .btn {
  transition: transform 750ms, opacity 750ms;
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: transform 750ms, opacity 750ms;
  -moz-transition: transform 750ms, opacity 750ms;
  -ms-transition: transform 750ms, opacity 750ms;
  -o-transition: transform 750ms, opacity 750ms;
}
.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
.font-sm {
  font-size: 14px;
}
.text-main {
  color: var(--main-color);
}
.text-main-light {
  color: var(--light-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}

.active {
  color: #000;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: rgb(16 185 129) 2px solid;
}

.slick-dots {
  bottom: 5px;
}
